db.sqlite3
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
myvenv/
__pycache__
local_settings.py
/static
*.pyc
*~
.DS_Store
**/migrations/**
!**/migrations
!**/migrations/__init__.py
.vscode/
# Diretorio de upload local
media/*
.local_settings.py.swp